{% extends "master.html" %}
{% block title %} | Watching {{video_id}}{% endblock %}
{% block content %}
    <script src= "http://player.twitch.tv/js/embed/v1.js"></script>

    <div id="visuals">
        <div id="chart-wrap">
            <div id="chart"></div>
        </div>
        <div id="midlayer">
            <!-- <div id="red" class="label">Dire Health</div>
            <div id="green" class="label">Radiant Health</div>
            <div id="chat" class="label">Chat</div> -->
        </div>
        <div id="twitch-player"></div>
    </div>

    <script type="text/javascript">
    var options = {
        width: 854,
        height: 480,
        video: "v{{video_id}}"
    };
    var player = new Twitch.Player("twitch-player", options);
    player.setVolume(0.5);
    player.addEventListener(Twitch.Player.PAUSE, () => { console.log('Player is paused!'); });
    </script>

    <script type="text/javascript">
    // C3.js chart
    var chart = c3.generate({
        bindto: '#chart',
        data: {
            x: 'x',
            columns: [
                ['x', {{ graph_x }}],
                ['game', {{ graph_game }}],
                ['chat', {{ graph_chat }}],
                ['highlights', {{ graph_highlights }}]
            ],
            type: 'area',
            types: {
                chat: 'area',
                highlights: 'bar'
            },
            colors: {
                // game: 'red',
                // chat: '#126bda',
            }
        },
        interaction: {
            enabled: false
        },
        axis: {
            x: { show: false },
            y: {
                show: false,
                max: 1,
                min: 0
            }
        },
        tooltip: {
            show: false
        },
        point: {
            show: false
        },
        size: {
            width: 824,
            height: 80
        },
        padding: {
            left: 0,
            right: 0,
            bottom: 0
        },
        bar: {
            width: 2
        },
        legend: {
            show: false
        }
    });
    </script>

    <script type="text/javascript">
    window.onload = function() {
        $('#visuals').hover(
            function () {
                $('#chart-wrap').fadeIn(250);
                $('#midlayer').fadeIn(250);
            },
            function () {
                $('#chart-wrap').fadeOut(250);
                $('#midlayer').fadeOut(250);
            }
        )
    }
    </script>

{% endblock %}
