<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>LiveBeat{% block title %}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <!-- Load c3.css -->
        <link href="/static/js/c3/c3.css" rel="stylesheet" type="text/css">

        <!-- Load d3.js and c3.js -->
        <script src="/static/js/d3/d3.v3.min.js"></script>
        <script src="/static/js/c3/c3.min.js"></script>

        <link rel="stylesheet" href="/static/css/normalize.css">
        <link rel="stylesheet" href="/static/css/main.css">
        <script src="/static/js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
        <header>
            <h1><a href="/">LiveBeat</a></h1>
        </header>

        {% block content %}
        <!-- <form method="post" action="/go"> -->
        <form method="post" action="/test">
            <input type="text" name="query" placeholder="URL to Twitch Dota2 video to highlight" value="https://www.twitch.tv/dota2ti/v/83196893">
            <button type="submit" name="push">Submit</button>
        </form>
        {% endblock %}

        <script src="/static/js/jquery/jquery-1.12.0.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
        <script src="/static/js/plugins.js"></script>
        <script src="/static/js/main.js"></script>

    </body>
</html>
